body {
  background-color: #f7f7f7;
  color: #1e1e1e;
}

h1 {
  color: #1e1e1e;
}

h2 {
  color: #1e1e1e;
}

.task-input::placeholder {
  color: #666666;
}

.input-box,
.task-box,
.task-list {
  background-color: #ffffff;
  color: #1e1e1e;
  border-color: #1e1e1e;
}

.task-checkbox {
  border-color: #999999;
}

.task-checkbox:checked {
  background-color: #3B5BA9;
  border-color: #3B5BA9;
}

.task-checkbox:checked::after {
  border-color: #ffffff;
}

.filter-button {
  color: #666666;
}

.filter-button.active {
  color: #2A50B6;
}

.no-tasks {
  color: #1e1e1e;
}

.icon {
  filter: brightness(100%);
}

.mode-icon {
  filter: brightness(50%);
}

body:not(.dark-mode) .icon {
  filter: brightness(50%);
}

.task-input {
  color: #1e1e1e;
}

body:not(.dark-mode) .edit-button:hover .icon,
body:not(.dark-mode) .delete-button:hover .icon,
body:not(.dark-mode) .move-button:hover .icon {
  filter: brightness(80%);
}

body:not(.dark-mode) .mode-icon:hover {
  filter: brightness(80%);
}

body:not(.dark-mode) .task-box {
  background-color: #ffffff;
  color: #1e1e1e;
  border-color: #1e1e1e;
}

body:not(.dark-mode) .input-box {
  background-color: #ffffff;
  color: #1e1e1e;
  border-color: #1e1e1e;
}

body:not(.dark-mode) .task-box {
  background-color: #ffffff;
  color: #1e1e1e;
  border-color: #1e1e1e;
  position: relative;
}

body:not(.dark-mode) .task-box:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #1e1e1e;
}

body:not(.dark-mode) .task-list {
  border: 1px solid #1e1e1e;
  border-radius: 10px;
}


body:not(.dark-mode) .auth-icon {
  filter: brightness(50%);
}

body:not(.dark-mode) .auth-button:hover .auth-icon {
  filter: brightness(80%);
}


body.dark-mode {
  background-color: #202831;
  color: #E9E0E0;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode .no-tasks {
  color: #E9E0E0;
}

body.dark-mode .input-box,
body.dark-mode .task-box,
body.dark-mode .task-list {
  background-color: #1f2128;
  color: #E9E0E0;
  border-color: #c5bdbd;
}

body.dark-mode .task-checkbox {
  border-color: #c5bdbd;
}

body.dark-mode .task-checkbox:checked {
  background-color: #2A50B6;
  border-color: #2A50B6;
}

body.dark-mode .task-checkbox:checked::after {
  border-color: #ffffff;
}

body.dark-mode .filter-button {
  color: #9fa2a6;
}

body.dark-mode .filter-button.active {
  color: #3B5BA9;
}

body.dark-mode .icon {
  filter: brightness(100%);
}

body.dark-mode .mode-icon {
  filter: brightness(100%);
}

body.dark-mode .mode-icon:hover {
  filter: brightness(200%);
}

body.dark-mode .edit-button:hover .icon,
body.dark-mode .delete-button:hover .icon,
body.dark-mode .move-button:hover .icon {
  filter: brightness(200%);
}

body.dark-mode .task-input {
  color: #E9E0E0;
}

body.dark-mode .task-input::placeholder {
  color: #c5bdbd;
}

body.dark-mode .task-box {
  position: relative;
}

body.dark-mode .task-box:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #c5bdbd;
}
